<mat-card>
<div>
    <h1> Order Details </h1>

    <h3> Order No. : {{order?.id}}</h3>
    <h3> Contact No. : {{order?.contactNo}}</h3>
    <h3> Name : {{order?.name}}</h3>
    <h3> Gender : {{order?.gender}}</h3>
    <h3> Date of birth : {{order?.dob | date: 'mediumDate'}}</h3>
    <h3> Order Date : {{order?.orderDate}}</h3>
    <h3> Order Type : {{order?.orderType}}</h3>
    <h3> Order Unit : {{order?.orderUnit}}</h3>
    <h3> Price : SGD{{order?.price}}</h3>
    <h3> Price * Unit: SGD{{order?.amt}}</h3>
    
    
</div>
</mat-card>